body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  color: #2C2C2C;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 708px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 964px;
    margin: 0 auto;
  }
}

p {
  margin: 0;
}

.sec__color {
  display: flex;
}

.color {
  display: flex;
  flex-direction: column;
  padding: 60px 71px 0 0;
}

.color-title {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 24px;
}

.color-circle {
  content: "";
  display: inline;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #fff;
}

.color-circle--black {
  background-color: #2C2C2C;
}

.color-circle--gray {
  background-color: #2C2C2C;
  opacity: 0.5;
}

.color-circle--blue {
  background-color: #18A0FB;
}

.color-circle--red {
  background-color: #FF3E1D;
}

.color-circle--green {
  background-color: #00D200;
}

.color-circle--yellow {
  background-color: #FFD422;
}

.color-circle__border-gray {
  border: 1px solid #E0E0E0;
}

.color-circle__border-red {
  border: 1px solid #FF3E1D;
}

.color-circle__border-blue {
  border: 1px solid #18A0FB;
}

.color-circle--shadow1 {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(224, 224, 224, 0.15);
}

.color-circle--shadow2 {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(224, 224, 224, 0.15);
}

.color-circle--shadow3 {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(224, 224, 224, 0.15);
}

.color-circle--shadow4 {
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(224, 224, 224, 0.15);
}

.alert {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.alert-row {
  position: relative;
  display: flex;
  width: 313px;
  border-radius: 5px;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.alert-row--blue {
  background-color: #18A0FB;
  color: #fff;
  margin-right: 30px;
}

.alert-row--white {
  background-color: #fff;
  color: #2C2C2C;
}

.alert-title {
  font-weight: 700;
  font-size: 13px;
  padding: 13px 0 13px 13px;
}

.alert-sub {
  font-weight: 400;
  font-size: 13px;
  padding: 0 0 15px 13px;
}

.alert-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.alert-btn-svg {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  fill: #18A0FB;
  width: 10px;
  height: 10px;
}

.alert-btn-close--bcg-white {
  background-color: #fff;
}

.alert-btn-close--bcg-gray {
  background-color: #E0E0E0;
}

.alert-btn-svg--blue {
  fill: #18A0FB;
}

.alert-btn-svg--white {
  fill: #fff;
}

.alert__warr {
  display: flex;
  flex-direction: row;
}

.warr-block {
  position: relative;
  display: flex;
  border-radius: 5px;
  width: 313px;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.warr-block--orange {
  background-color: #FF3E1D;
  color: #fff;
  margin-right: 30px;
}

.warr-block--white {
  background-color: #fff;
  color: #2C2C2C;
}

.warr-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 10px 0 0 10px;
  font-size: 13px;
  font-weight: 700;
}

.warr-sign--white {
  background-color: #fff;
  color: #FF3E1D;
}

.warr-sign--orange {
  background-color: #FF3E1D;
  color: #fff;
}

.warr-title {
  font-weight: 700;
  font-size: 13px;
  padding: 13px 0 10px 9px;
}

.warr-sub {
  font-weight: 400;
  font-size: 13px;
  padding: 0 0 15px 9px;
}

.warr-btn-wrapp {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.warr-btn {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  border: 1px transparent;
  border-left: solid 1px #E0E0E0;
  outline: none;
  width: 89px;
  height: 35px;
}

.warr-btn--white {
  color: #fff;
}

.warr-btn--black {
  color: #2C2C2C;
}

.warr-btn--bold {
  font-weight: 700;
  border-bottom: solid 1px #E0E0E0;
}

.alert__modal {
  display: flex;
  max-width: 658px;
  height: 296px;
  background-color: #2C2C2C;
  opacity: 0.7;
  align-items: center;
  margin-top: 50px;
}

.modal-window {
  position: relative;
  padding: 16px 16px;
  width: 281px;
  height: 102px;
  background-color: #fff;
  color: #2C2C2C;
  border-radius: 4px;
  margin: 0 auto;
}

.modal-title {
  font-weight: 700;
  font-size: 13px;
  padding: 0 0 10px;
}

.modal-sub {
  font-weight: 400;
  font-size: 13px;
  padding: 0 0 24px;
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.close-btn-svg {
  width: 10px;
  height: 10px;
  fill: #2C2C2C;
  opacity: 0.5;
}

.modal__button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.button-cancel {
  outline: none;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  margin: 0 4px 0 0;
  width: 70px;
  height: 36px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
  transition: all 250ms;
}

.button-cancel:hover,
.button-cancel:focus {
  border: 1px solid #18A0FB;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.button-submit {
  outline: none;
  border: none;
  cursor: pointer;
  height: 36px;
  width: 92px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #18A0FB;
  color: #fff;
  transition: all 250ms;
}

.button-submit:hover,
.button-submit:focus {
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

/* ===============================
=            Choices            =
=============================== */
.select-title {
  font-size: 13px;
  font-weight: 500;
}

.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
  width: 260px;
}

.choices:focus {
  outline: none;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-open {
  overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  left: 90%;
  top: 65%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent #333 transparent;
  margin-top: -12px;
}

.choices__inner {
  display: block;
  margin-top: 10px;
  width: 258px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 13px;
  overflow: hidden;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #b7b7b7;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: 0;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaaaaa;
  border: 1px solid #919191;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 40px;
  width: 258px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.choices__list--dropdown, .is-active.choices__list[aria-expanded] {
  visibility: visible;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-color: #e0e0e0;
}

.is-flipped .choices__list--dropdown, .is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

[dir=rtl] .choices__list--dropdown .choices__item, [dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 100px;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }

  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}
.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  color: #afafaf;
  padding: 8px 0 0 10px;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 4px 0 4px 2px;
}

/* =====  End of Choices  ====== */
.wrapp-checkbox {
  display: flex;
}

.form__check-box {
  display: flex;
  margin: 30px;
}

.check-box-title {
  color: #2C2C2C;
  font-size: 13px;
  font-weight: 500;
  padding-left: 60px;
  padding-top: 10px;
}

.check-box {
  position: relative;
  appearance: none;
}

.check-box-label {
  position: absolute;
  width: 52px;
  height: 32px;
  background-color: #fff;
  border-radius: 23px;
  border: solid 1px #d5d5d5;
  cursor: pointer;
  transition: 250ms;
}
.check-box-label:hover, .check-box-label:focus {
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.check-box-label::before {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: #d5d5d5;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: 3px;
  transition: 250ms;
}

.check-box:checked ~ .check-box-label {
  background-color: #00D200;
}

.check-box:checked ~ .check-box-label::before {
  left: 25px;
  background-color: #fff;
}

.check-box-label--dis {
  background-color: #e0e0e0;
}

.check-box-label--dis::before {
  background-color: #fff;
}

.check-box-label--small {
  height: 24px;
}

.check-box-label--small::before {
  height: 20px;
  width: 20px;
  top: calc(50% - 10px);
  left: 2px;
}

.check-box:checked ~ .check-box-label--small::before {
  left: 30px;
}

.wrapp__form {
  display: flex;
  padding-top: 30px;
}

.form__radio {
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.radio-box {
  padding-right: 20px;
}

.radio-title {
  padding-left: 20px;
  font-size: 13px;
  font-weight: 500;
}

.radio-btn {
  appearance: none;
  position: relative;
}

.radio-btn--padding {
  padding-left: 20px;
}

.radio-label {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.radio-label--circle {
  border-radius: 50%;
}

.radio-label--circle:before {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
}

.radio-btn:checked ~ .radio-label--circle:before {
  opacity: 1;
}

.radio-btn:checked ~ .radio-label {
  background-color: #18a0fb;
  border: 1px solid #18a0fb;
}

.radio-btn:disabled ~ .radio-label {
  background-color: #f6f6f6;
}

.radio-label--square {
  border-radius: 4px;
}

.radio-svg-check {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 5.5px);
  opacity: 0;
}

.radio-btn:checked ~ .radio-label--square > .radio-svg-check {
  opacity: 1;
}

.form-wrapp {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.input-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 30px 0 0;
}

.input-title {
  color: #2C2C2C;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 10px;
}

.input-area {
  outline: none;
  height: 37px;
  width: 240px;
  border-radius: 4px;
  padding: 0 10px;
  border: solid 2px #efefef;
  transition: 250ms;
  cursor: pointer;
}
.input-area:focus, .input-area:hover {
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.input-area::placeholder {
  color: #888888;
}

.input-area--err {
  border: solid 1px #ff3e1d;
  background-color: #fff3f1;
}

.input-area--err::placeholder {
  color: #ff3e1d;
}

.input-area--focus {
  border: solid 1px #18a0fb;
}

.input-title--disabled {
  color: #ababab;
}

.search {
  width: 260px;
  height: 37px;
  outline: none;
  border: solid 2px #e4e4e4;
  border-radius: 4px;
  padding: 0 10px;
}

.search-title {
  position: absolute;
  bottom: 0;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  width: 57px;
  height: 33px;
  z-index: 10;
  color: #919191;
  border-radius: 4px 0 0 4px;
  border: solid 2px #e4e4e4;
  background-color: #f6f6f6;
}

.search--padding {
  padding: 0 10px 0 65px;
}

.search--padd-left {
  padding-left: 40px;
}

.search--padd-right {
  padding-right: 40px;
}

.search-svg-left {
  position: absolute;
  fill: #959595;
  top: 42px;
  left: 48px;
}

.search-svg-right {
  position: absolute;
  fill: #959595;
  top: 42px;
  right: 18px;
}

.textarea {
  outline: none;
  cursor: pointer;
  width: 259px;
  height: 97px;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid #e4e4e4;
}

.textarea::placeholder {
  font-size: 13px;
  font-weight: 500;
  font-family: Inter;
  color: #959595;
}

.textarea--err {
  border: solid 1px #ff3e1d;
  background-color: #fff3f1;
}

.textarea--err::placeholder {
  color: #ff3e1d;
}

.textarea-label {
  color: #2C2C2C;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 10px;
}

.container__upload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.upload-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 279px;
  width: 271px;
  margin: 50px 30px 0 0;
  border: dashed 2px #e0e0e0;
  border-radius: 4px;
}

.upload-box-err {
  border: dashed 2px #ff3e1d;
  background-color: #fff5f4;
}

.upload-box-err > .upload-text {
  color: #ff3e1d;
}

.upload-box-err > .upload-desc {
  color: #aba5a4;
}

.upload-file {
  visibility: hidden;
  opacity: 0;
}

.upload-label {
  position: absolute;
  top: 55px;
  left: calc(50% - 25px);
  width: 51px;
  height: 51px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 2px silver;
  background-color: transparent;
}

.upload-label--err {
  border: 2px solid #ffbeb4;
}
.upload-label--err > .upload-arrow {
  fill: #ffbeb4;
}

.upload-arrow {
  position: absolute;
  fill: silver;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.upload-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.upload-desc {
  padding-top: 22px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #ababab;
}

.upload-btn-cancel {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  font-family: Inter;
  padding: 10px 24px;
  border-radius: 4px;
  color: #2c2c2c;
  border: solid 1px #e0e0e0;
  background-color: #fff;
  transition: 250ms;
  margin-top: 25px;
}
.upload-btn-cancel:hover, .upload-btn-cancel:focus {
  color: #fff;
  background-color: #18a0fb;
  border: solid 1px #18a0fb;
}

.upload-text::before {
  content: attr(data-percent);
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.progress {
  position: relative;
  height: 6px;
  width: 183px;
  border-radius: 10px;
  margin-top: 17px;
  background-color: #e0e0e0;
}

.progress-percent {
  position: absolute;
  height: 100%;
  width: 69%;
  border-radius: 10px;
  background-color: #18a0fb;
}

.upload-btn-cancel--margin-top {
  margin-top: 38px;
}

.upload-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 6px solid #e0e0e0;
  width: 102px;
  height: 102px;
  background-color: transparent;
}

.progress-percent-inner {
  font-weight: 900px;
  font-size: 30px;
}

.progress-percent-inner::before {
  content: attr(data-percent-inner);
}

.upload-complete {
  position: relative;
  border: 6px solid #00d200;
  background-color: #00d200;
}

.upload-check-mark {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 25px);
}

.upload-text--padding-top {
  padding-top: 20px;
}

.loading-wrapp {
  position: relative;
  display: block;
  flex-direction: column;
  height: auto;
  width: 273px;
  margin: 25px 0 0;
}

.loading-title {
  display: block;
  padding: 23px 0 0 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}

.loading-file-input {
  visibility: hidden;
  display: block;
}

.loading-file-label {
  position: absolute;
  top: 12px;
  left: 165px;
  width: 96px;
  height: 34px;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.loading-label-desc {
  padding: 10px 0 0 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

.loading-file-svg {
  position: absolute;
  top: calc(50% - 10px);
  left: 69px;
  stroke: #2C2C2C;
}

.loading-status {
  position: relative;
  display: block;
  margin: 16px 0 0;
}

.loading-status--margin {
  margin: 0;
}

.loading-file-icon {
  position: absolute;
  top: 5px;
  left: 20px;
}

.loading-file-name {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  padding: 0 0 0 54px;
}

.loading-file-name::before {
  content: attr(data-file);
  position: absolute;
  right: 48px;
  top: 12px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.4;
}

.loading-file-name::after {
  content: attr(data-file-err);
  position: absolute;
  right: 48px;
  top: 12px;
  font-size: 13px;
  font-weight: 400;
  color: #FF3E1D;
}

.loading-file-time {
  display: inline-block;
  opacity: 0.6;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  padding: 7px 0 12px 54px;
}

.loading-btn {
  position: absolute;
  right: 20px;
  top: 9px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E0E0E0;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
.loading-btn:focus, .loading-btn:hover {
  background-color: #c7c7c7;
}

.loading-btn--red {
  background-color: #FF3E1D;
}
.loading-btn--red:focus, .loading-btn--red:hover {
  background-color: #d82000;
}

.loading-btn > .svg-close {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}

.loading-btn > .svg-view {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 7px);
}

.loading-btn > .svg-close {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}

.loading-btn > .svg-view {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 7px);
}

.loading-btn > .svg-reload {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
}

.loading-line {
  position: relative;
  content: "";
  left: 20px;
  display: block;
  width: 233px;
  height: 2px;
  border-radius: 10px;
  background-color: #e0e0e0;
}

.loading-process {
  position: absolute;
  content: "";
  width: 22%;
  height: 100%;
  background-color: #18A0FB;
  border-radius: 10px;
}

.loading-complete {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00D200;
  border-radius: 10px;
}

.loading-failed {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FF3E1D;
  border-radius: 10px;
}

.loading-cancel {
  position: absolute;
  content: "";
  width: 42%;
  height: 100%;
  background-color: #ffd422;
  border-radius: 10px;
}

.tab-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  padding-top: 30px;
}

.tab-wrapp {
  overflow: hidden;
  position: relative;
  display: flex;
  padding-top: 30px;
}

.tab-wrapp::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  display: inline-block;
  height: 1px;
  background-color: #e0e0e0;
  width: 534px;
}

.tab-btn {
  position: relative;
  display: block;
  margin-right: 10px;
  padding: 10px 6px;
  border: 0px;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.tab-btn:hover,
.tab-btn:focus {
  color: #18a0fb;
}

.tab-current {
  color: #18a0fb;
}

.tab-current::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  z-index: 5;
  background-color: #18a0fb;
  display: inline-block;
}

.tab-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
  width: 520px;
  height: auto;
  background-color: #e0e0e0;
  border-radius: 5px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
}

.pagination-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  padding: 30px 0;
}

.pagination__btn {
  display: flex;
  padding-bottom: 20px;
}

.btn-scuare {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0 15px 0 0;
  transition: 250ms;
}
.btn-scuare:hover, .btn-scuare:focus {
  background-color: #18a0fb;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.btn-scuare:hover > .btn-icon,
.btn-scuare:focus > .btn-icon {
  fill: #fff;
}

.btn-circle {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 250ms;
}
.btn-circle:hover, .btn-circle:focus {
  background-color: #18a0fb;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

.btn-circle:hover > .btn-icon,
.btn-circle:focus > .btn-icon {
  fill: #fff;
}

.btn-num {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  color: #18a0fb;
}

.btn-icon {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 4px);
  fill: #919191;
}

.btn-icon--rotate {
  transform: rotate(180deg);
}

.pagination-content {
  display: flex;
}

.pagination-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-elem {
  display: block;
  text-decoration: none;
  color: #919191;
  padding: 0 16px;
  transition: 250ms;
}
.pagination-elem:hover, .pagination-elem:focus {
  color: #18a0fb;
}

.pagination-btn {
  width: 24px;
  height: 24px;
  border: none;
  transition: 250ms;
  background-color: transparent;
  padding: 0;
}

.btn-elem {
  fill: #ababab;
}

.pagination-btn:focus > .btn-elem,
.pagination-btn:hover > .btn-elem {
  fill: #18a0fb;
}

.btn-title {
  font-size: 28px;
  font-weight: 600;
  color: #2c2c2c;
  padding: 30px 0 15px;
}

.btn-wrapp {
  display: flex;
  flex-direction: column;
}

.btn-list {
  display: flex;
  flex-direction: row;
}

.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c2c2c;
  border: 1px solid #e0e0e0;
  margin: 15px;
  width: 144px;
  height: 46px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: 250ms;
}

.btn-style--small {
  width: 111px;
  height: 36px;
}

.btn-svg {
  stroke: #2c2c2c;
}

.btn-svg--padding-left {
  padding-left: 5px;
}

.btn-svg--padding-right {
  padding-right: 5px;
}

.btn-style:focus,
.btn-style:hover {
  background-color: #18a0fb;
  color: #fff;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border: none;
}

.btn-focus {
  background-color: #18a0fb;
  color: #fff;
  border: none;
}
.btn-focus > .btn-svg {
  stroke: #fff;
}

.btn-focus-red {
  background-color: #ff3e1d;
  color: #fff;
}
.btn-focus-red > .btn-svg {
  stroke: #fff;
}
.btn-focus-red:focus, .btn-focus-red:hover {
  background-color: #ff3e1d;
}

.btn-style:disabled {
  background-color: #f6f6f6;
  color: #858585;
  border: none;
}
.btn-style:disabled:disabled > .btn-svg {
  stroke: #858585;
}

.btn-svg--color {
  transition: 250ms;
}

.btn-style:hover > .btn-svg--color,
.btn-style:focus > .btn-svg--color {
  stroke: #fff;
}

.btn-style--blue-border {
  border: 1px solid #18a0fb;
  color: #18a0fb;
}
.btn-style--blue-border > .btn-svg {
  stroke: #18a0fb;
  transition: 250ms;
}

.btn-style--blue-border:hover > .btn-svg,
.btn-style--blue-border:focus > .btn-svg {
  stroke: #fff;
}

.btn-micro {
  width: 51px;
  height: 28px;
}
.btn-micro > .btn-svg-close {
  fill: #2c2c2c;
}

.btn-svg-close {
  padding-left: 10px;
  transition: 250ms;
}

.btn-micro-middle {
  width: 65px;
  height: 28px;
}

.btn-micro-middle:focus,
.btn-micro-middle:hover > .btn-svg-close {
  fill: #fff;
}

.btn-tab-list {
  display: flex;
  flex-direction: row;
  height: 46px;
  margin: 30px 20px 0 0;
}

.btn-tab {
  border: none;
  height: 47px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  transition: 250ms;
}
.btn-tab:hover, .btn-tab:focus {
  background-color: #18a0fb;
  color: #fff;
  border: 1px solid #18a0fb;
}

.btn-tab-current {
  background-color: #18a0fb;
  border: 1px solid #18a0fb;
  color: #fff;
}

.btn-tab-svg {
  fill: #2C2C2C;
  stroke: #2C2C2C;
  transition: 250ms;
}

.btn-tab:hover > .btn-tab-svg,
.btn-tab:focus > .btn-tab-svg {
  fill: #fff;
  stroke: #fff;
}

.btn-tab--small-width {
  width: 56px;
}

.btn-tab--middle-width {
  width: 105px;
}

.btn-tab--long-width {
  width: 146px;
}

.btn-tab--border {
  border-radius: 0px;
}

.btn-tab--border-left {
  border-radius: 0px 5px 5px 0;
}

.btn-tab--border-right {
  border-radius: 5px 0 0 5px;
}

.tables-title {
  text-align: start;
  font-size: 28px;
  font-weight: 500;
  padding: 30px 0 20px;
}

table {
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 100%;
}

table thead {
  display: none;
}

.table-content {
  display: flex;
  flex-direction: column;
  border-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
.table-content:hover, .table-content:focus {
  background-color: #fffbe9;
}

.table-name {
  padding: 16px 12px;
  text-align: start;
  font-size: 13px;
  font-weight: 400;
}

.table-name::before {
  content: attr(data-name);
  padding-right: 12px;
  float: left;
  font-size: 13px;
  font-weight: 700;
  color: #2C2C2C;
}

.table-data {
  padding: 16px 12px;
  position: relative;
  color: #959595;
  text-align: start;
  font-size: 13px;
  font-weight: 400;
}

.table-data::before {
  content: attr(data-last-updated);
  float: left;
  padding-right: 12px;
  font-size: 13px;
  font-weight: 700;
  color: #2C2C2C;
}

.table-loc {
  padding: 16px 12px;
  text-align: start;
  font-size: 13px;
  font-weight: 400;
}

.table-loc::before {
  content: attr(data-location);
  padding-right: 12px;
  float: left;
  font-size: 13px;
  font-weight: 700;
  color: #2C2C2C;
}

.table-btn {
  position: absolute;
  right: calc(0% + 12px);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.search-box {
  display: flex;
  justify-content: space-between;
}

#table-search {
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 258px;
  height: 36px;
  margin-top: 30px;
  padding: 0 8px 0 37px;
}
#table-search::placeholder {
  color: #838383;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.table-label {
  position: relative;
}

.table-search-svg {
  position: absolute;
  bottom: calc(50% - 9px);
  left: 13px;
  fill: #838383;
}

.table-flex {
  display: flex;
}

.table-checkbox {
  display: flex;
  align-items: start;
  padding-right: 16px;
}

.table-check-input {
  position: relative;
  appearance: none;
}

.table-check-label {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  cursor: pointer;
}

.fake-checkbox::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  display: inline-block;
  width: 10px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
}

.table-check-input:checked ~ .table-check-label {
  background-color: #18a0fb;
  border: 1px solid #18a0fb;
}

.table-check-svg {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 5px);
}

@media screen and (min-width: 768px) {
  table thead {
    display: block;
  }

  .table-content {
    flex-direction: row;
  }

  .table-name::before {
    display: none;
  }

  .table-data::before {
    display: none;
  }

  .table-loc::before {
    display: none;
  }

  .table-row {
    width: 384px;
  }

  .table-subtitle {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
  }

  .table-desc {
    position: relative;
    width: 384px;
    text-align: start;
    padding: 16px 12px;
    font-size: 13px;
    font-weight: 700;
    color: #2C2C2C;
  }

  .table-desc--padding {
    padding-left: 35px;
    padding-right: 0;
  }

  .fake-checkbox {
    position: absolute;
    left: calc(0% + 12px);
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: #18a0fb;
    border: 1px solid #18a0fb;
  }

  .fake-checkbox-dash {
    margin: 7px auto;
    width: 10px;
    height: 2px;
    border-radius: 6px;
    background-color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  .table-row {
    width: 512px;
  }

  .table-desc {
    width: 512px;
  }
}