// =====================
// Range Input #1
// =====================
#rangeForm{
    position: relative;
    width: 70%;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        width: 40%;
    }
}
#range{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    border-radius: 10px;
    outline: none;
}
#range::-webkit-slider-thumb{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #18A0FB;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    z-index: 20;
}
#rangeValue{
    position: absolute;
    top: -25px;
    left: -2%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
}
#rangeValue::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #18A0FB;
    border-radius: 0 50% 50% 50%;
    transform: rotate(-135deg);
    z-index: -20;
}
#rangeProgress{
    position: absolute;
    top: 13px;
    left: 2px;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background-color: #18A0FB;
}

// =====================
// Range Input #2
// =====================
#sliderForm{
    display: flex;
    position: relative;
    padding-bottom: 20px;
    width: 70%;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
        width: 40%;
    }
}
.slider{
    display: block;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
#sliderLeft{
    left: -2px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #18A0FB;
    pointer-events: auto;
    cursor: pointer;
}
.slider::-ms-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #18A0FB;
    pointer-events: auto;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #18A0FB;
    pointer-events: auto;
    cursor: pointer;
} 
#valueLeft{
    position: absolute;
    top: -35px;
    width: 30px;
    height: 30px;
    background-color: #18A0FB;
    border-radius: 0 50% 50% 50%;
    transform: rotate(-135deg);
}
#valueLeft > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    transform: rotate(135deg);
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
#valueRight{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -35px;
    background-color: #18A0FB;
    border-radius: 0 50% 50% 50%;
    transform: rotate(-135deg);
} 
#valueRight > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    transform: rotate(135deg);
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
#sliderTrack{
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #E0E0E0;
    left: 0;
    top: 9px;
    z-index: -20;
}
#sliderRange{
    position: absolute;
    height: 2px;
    background-color: #18A0FB;
    top: 9px;
    border-radius: 10px;
    z-index: -2;
}

// =======================
// Range Input #3
// =======================

#rangeSlider{
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    border-radius: 10px;
    outline: none;
}
#rangeSlider::-webkit-slider-thumb{
    position: relative;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    z-index: 30;
}
#rangePercent{
    position: absolute;
    top: 14px;
    left: 0;
    width: 12%;
    height: 2px;
    background-color: #18A0FB;
    border-radius: 10px;
}

// =======================
// Range Input #4
// =======================

.range-wrapp{
    display: flex;
    position: relative;
    width: 70%;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
        width: 40%;
    }
}
.range{
    position: absolute;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    width: 100%;
    pointer-events: none;
}
.range::-webkit-slider-thumb{
    position: relative;
    position: block;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    pointer-events: auto;
    z-index: 5;
    width: 24px;
    height: 24px;
    left: -2px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
}
.range::-moz-range-thumb{
    position: relative;
    position: block;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    pointer-events: auto;
    z-index: 5;
    width: 24px;
    height: 24px;
    left: -2px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
}
.range::-ms-thumb{
    position: relative;
    position: block;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    pointer-events: auto;
    z-index: 5;
    width: 24px;
    height: 24px;
    left: -2px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
}
.range-track{
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
}
.range-progress{
    position: absolute;
    top: 14px;
    left: 0;
    height: 2px;
    background-color: #18A0FB;
}