.btn-wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn-style{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C2C2CFF;
    border: 1px solid #E0E0E0FF;
    width: 144px;
    height: 46px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms;
}
.btn-style--small {
    width: 111px;
    height: 36px;
}
.btn-svg{
    stroke: #2C2C2CFF;
}
.btn-svg--padding-left{
    padding-left: 5px;
}
.btn-svg--padding-right{
    padding-right: 5px;
}
.btn-style:focus,
.btn-style:hover{
    background-color: #18A0FBFF;
    color: #fff;
    box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
    border: none;
}
.btn-focus{
    background-color: #18A0FBFF;
    color: #fff;
    border: none;
    & > .btn-svg {
        stroke: #fff;
    }
}
.btn-focus-red{
    background-color: #FF3E1DFF;
    color: #fff;
    & > .btn-svg {
        stroke: #fff; 
    }
    &:focus,
    &:hover {
        background-color:#FF3E1DFF;
    }
}
.btn-style:disabled{
    background-color: #F6F6F6FF;
    color: #858585FF;
    border: none;
    &:disabled > .btn-svg {
        stroke: #858585FF;
    }
}
.btn-svg--color{
    transition: 250ms;
}
.btn-style:hover > .btn-svg--color,
.btn-style:focus > .btn-svg--color {
    stroke: #fff;
}
.btn-style--blue-border{
    border: 1px solid #18A0FBFF;
    color: #18A0FBFF;
    & > .btn-svg{
        stroke: #18A0FBFF;
        transition: 250ms;
    }
}
.btn-style--blue-border:hover > .btn-svg,
.btn-style--blue-border:focus  > .btn-svg{
    stroke: #fff;
}

//======================
// Micro Buttons
//======================
.btn-micro{
    width: 51px;
    height: 28px;
    & > .btn-svg-close{
        fill: #2C2C2CFF;
    }
}
.btn-svg-close{
    padding-left: 10px;
    transition: 250ms;
}
.btn-micro-middle{
    width: 65px;
    height: 28px;
}
.btn-micro-middle:focus,
.btn-micro-middle:hover > .btn-svg-close{
    fill: #fff;
}

//======================
// Tab Buttons
//======================
.tab-wrapper{
    position: relative;
    display: flex;
    padding-top: 30px;
}
.switch-tab{
    appearance: none;
    position: absolute;
}
.switch-label{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 46px;
    border: 1px solid #E0E0E0;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms;
}
.switch-label--border-left{
    border-radius: 5px 0px 0px 5px;
}
.switch-label--border-right{
    border-radius: 0px 5px 5px 0px;
}
.switch-label-middle{
    width: 105px;
}
.switch-label-large{
    width: 134px;
}
.switch-svg{
    fill: #2C2C2CFF;
    stroke: #2C2C2CFF;
}
.switch-svg--without-stroke{
    stroke: none;
}
#switch-1:checked ~ .switch-label[for='switch-1'],
#switch-2:checked ~ .switch-label[for='switch-2'],
#switch-3:checked ~ .switch-label[for='switch-3'],
#switch-4:checked ~ .switch-label[for='switch-4'],
#switch-5:checked ~ .switch-label[for='switch-5'],
#switch-6:checked ~ .switch-label[for='switch-6'],
#switch-7:checked ~ .switch-label[for='switch-7'],
#switch-8:checked ~ .switch-label[for='switch-8'] {
    background-color: #18A0FBFF;
    border: 1px solid #18A0FBFF;
    color: #fff;
}
#switch-1:checked ~ .switch-label[for='switch-1'] > .switch-svg {
    fill: #fff;
}
#switch-2:checked ~ .switch-label[for='switch-2'] > .switch-svg,
#switch-3:checked ~ .switch-label[for='switch-3'] > .switch-svg {
    fill: #fff;
    stroke: #fff;
}