// Checkbox
.wrapp-checkbox{
    display: flex;
}
.form__check-box{
    display: flex;
    margin: 30px;
}
.check-box-title{
    color: #2C2C2C;
    font-size: 13px;
    font-weight: 500;
    padding-left: 60px;
    padding-top: 10px;
}
.check-box{
    position: relative;
    appearance: none;
}
.check-box-label {
    position: absolute;
    width: 52px;
    height: 32px;
    background-color: #fff;
    border-radius: 23px;
    border: solid 1px #D5D5D5FF;
    cursor: pointer;
    transition: 250ms;
    &:hover,
    &:focus {
        box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
    }
}
.check-box-label::before {
    position: absolute;
    content: '';
    display: inline-block;
    background-color: #D5D5D5FF;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: 3px;
    transition: 250ms;
}
.check-box:checked ~ .check-box-label {
    background-color: #00D200;
}
.check-box:checked ~ .check-box-label::before {
    left: 25px;
    background-color: #fff;
}
// Checkbox disabled #E0E0E0FF

.check-box-label--dis{
    background-color: #E0E0E0FF;
}
.check-box-label--dis::before{
    background-color: #fff;
}

// Checkbox small

.check-box-label--small{
    height: 24px;
}
.check-box-label--small::before{
    height: 20px;
    width: 20px;
    top: calc(50% - 10px);
    left: 2px;
}
.check-box:checked ~ .check-box-label--small::before{
    left: 30px;
}

