.tables-title{
    text-align: start;
    font-size: 28px;
    font-weight: 500;
    padding: 30px 0 20px;
}
table{
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #E0E0E0FF;
    background-color: #fff;
    width: 100%;
}
table thead {
    display: none;
}
.table-content{
    display: flex;
    flex-direction: column;
    border-color: #fff;
    border-bottom: 1px solid #E0E0E0FF;
    &:hover,
    &:focus{
        background-color: #FFFBE9FF;
    }
}
.table-name{
    padding: 16px 12px;
    text-align: start;
    font-size: 13px;
    font-weight: 400;
 }
.table-name::before {
    content: attr(data-name);
    padding-right: 12px;
    float: left;
    font-size: 13px;
    font-weight: 700;
    color: #2C2C2C;
}
.table-data{ 
    padding: 16px 12px;
    position: relative;
    color: #959595FF;
    text-align: start;
    font-size: 13px;
    font-weight: 400;
}
.table-data::before{
    content: attr(data-last-updated);
    float: left;
    padding-right: 12px;
    font-size: 13px;
    font-weight: 700;
    color: #2C2C2C;
}
.table-loc{
    padding: 16px 12px;
    text-align: start;
    font-size: 13px;
    font-weight: 400;
}
.table-loc::before{
    content: attr(data-location);
    padding-right: 12px;
    float: left;
    font-size: 13px;
    font-weight: 700;
    color: #2C2C2C;
}
.table-btn{
    position: absolute;
    right: calc(0% + 12px);
    cursor: pointer;
    border: none;
    background-color: transparent;
}

// Search input
.search-box{
    display: flex;
    justify-content: space-between;
}
#table-search {
    outline: none;
    border: 1px solid #E0E0E0FF;
    border-radius: 5px;
    width: 258px;
    height: 36px;
    margin-top: 30px;
    padding: 0 8px 0 37px;
    &::placeholder{
        color: #838383FF;
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
    }
}
.table-label{
    position: relative;
}
.table-search-svg{
    position: absolute;
    bottom: calc(50% - 9px);
    left: 13px;
    fill: #838383FF;
}

// Table checkbox styles
.table-flex{
    display: flex;
}
.table-checkbox{
    display: flex;
    align-items: start;
    padding-right: 16px;
}
.table-check-input {
    position: relative;
    appearance: none;
}
.table-check-label{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid #E0E0E0FF;
    background-color: #fff;
    cursor: pointer;
}
.fake-checkbox::before{
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 5px);
    display: inline-block;
    width: 10px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0;
}
.table-check-input:checked ~ .table-check-label{
    background-color: #18A0FBFF;
    border: 1px solid #18A0FBFF;
}
.table-check-svg{
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 5px);
}
@media screen and(min-width: 768px) {
table thead {
    display: block;
}
.table-content{
    flex-direction: row;
    }
    .table-name::before {
        display: none;
    }
    .table-data::before {
        display: none;
    }
    .table-loc::before{
        display: none;
    }
    .table-row{
        width: calc(768px / 2);
    }
.table-subtitle{
    background-color: #F6F6F6FF;
    border-bottom: 1px solid #E0E0E0FF;
    }
    .table-desc{
        position: relative;
        width: calc(768px / 2);
        text-align: start;
        padding: 16px 12px;
        font-size: 13px;
        font-weight: 700;
        color: #2C2C2C;
    }
    .table-desc--padding{
        padding-left: 35px;
        padding-right: 0;
    }
    .fake-checkbox{
        position: absolute;
        left: calc(0% + 12px);
        width: 15px;
        height: 15px;
        border-radius: 4px;
        background-color: #18A0FBFF;
        border: 1px solid #18A0FBFF;
    }
    .fake-checkbox-dash{
        margin: 7px auto;
        width: 10px;
        height: 2px;
        border-radius: 6px;
        background-color: #fff;
    }
}
@media screen and(min-width: 1024px){
    .table-row{
        width: calc(1024px / 2);
    }
    .table-desc{
        width: calc(1024px / 2);
    }
    
}

